*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

span{
  display: block;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  overflow-x: hidden !important;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide all scrollbars completely */
::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  display: none !important;
}

::-webkit-scrollbar-track {
  display: none !important;
}

::-webkit-scrollbar-thumb {
  display: none !important;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

#root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden !important;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
